# Descriptions
- Prediksi yang dilakukan adalah klasifikasi untuk target churn (1-Yes atau 0-No) dan Regresi untuk target tenure.
- Prediksi dengan klasifikasi menggunakan model machine learning
- Prediksi dengan regresi menggunakan model machine learning

# Import modules

In [1]:
import pandas as pd

# Initialize and load dataset
Terdapat tiga dataset, antara lain:
- EDA_df, yaitu dataset yang merupakan hasil dari eksplorasi terhadap fitur-fitur, yang telah bersih dari outlier, missing, duplikat, dan mismatch.
- feature_engineering_telco_customer_churn, yaitu dataset yang merupakan hasil dari feature engieering yang meliputi, feature transformation, feature extraction, dan feture selection.
- PCA_telco_customer_churn.csv adalah hasil reduki fitur menggunakan metode PCA (Principal Component Analysis).

## EDA

In [2]:
EDA_train_df = pd.read_csv('../datasets/train/EDA_train.csv')
EDA_test_df = pd.read_csv('../datasets/test/EDA_test.csv')

## Feature Engineering

In [3]:
feature_engineering_train_df = pd.read_csv('../datasets/train/feature_engineering_train.csv')
feature_engineering_test_df = pd.read_csv('../datasets/test/feature_engineering_test.csv')

In [4]:
feature_engineering_train_df

,senior_citizen,dependents,tenure,multiple_lines,streaming_tv,streaming_movies,paperless_billing,payment_method,monthly_charges
0,0,0,21,1,1,0,0,3,64.85
1,0,0,54,0,0,0,1,0,97.20
2,0,0,1,0,1,1,1,2,23.45
3,0,0,4,1,1,1,1,2,70.20
4,0,0,0,0,1,1,1,0,61.90
...,...,...,...,...,...,...,...,...,...
5629,0,0,1,1,0,0,1,2,95.00
5630,0,0,23,0,0,0,1,1,91.10
5631,0,0,12,1,0,0,1,2,21.15
5632,1,0,12,0,0,0,1,2,99.45
5633,0,0,26,1,0,0,0,1,19.80

## PCA

In [5]:
PCA_train_df = pd.read_csv('../datasets/train/PCA_train.csv')
PCA_test_df = pd.read_csv('../datasets/test/PCA_test.csv')

# Build model

## Support Vector Classifier

## Decision Tree

## Random Forest